.title-box {
  text-align: center;
  color: rgb(12, 172, 172);
  margin: 40px;
}

.direction-row {
  display: grid;
  grid-template-columns: repeat(8, 200px);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-content: center;
}

.model-box {
  width: 100px;
  height: 100px;
  padding: 10px;
}
